.potaeto {
    background-color: #DC143C;
    .title {
        color: #ffffff;
        
    }
    ion-back-button {
        color: #ffffff;
    }
    ion-toolbar {
        margin-top: 100px;
    }
}


ion-content {
    background-color: #f8f8fa;
}

ion-card {
    border-radius: 10px;
}

.imagebadge {
    height: 30px;
    width: 30px;
   
}

.toolbarstanding {
    background-color:  #DC143C;
    color: #ffffff;
}
