.potaeto {
    background-color: #DC143C;
    .title {
        color: #ffffff;
        
    }
    ion-back-button {
        color: #ffffff;
    }
    ion-toolbar {
        margin-top: 100px;
    }
  }
  